menu "TLS project Configuration"

    config WIFI_SSID
            string "WIFI SSID"
            default "myssid"
            help
                SSID (network name) for us to connect to.

    config WIFI_PASSWORD
            string "WiFi Password"
            default "mypassword"
            help
                WiFi password (WPA or WPA2) to connect to.

    config KEY_PASSWORD
            string "Key Password"
            default "mykey"
            help
                Key password for decrypting server private key.
                
endmenu