[ req ]
default_bits        = 2048
default_md          = sha256
prompt              = no
distinguished_name  = req_distinguished_name
req_extensions      = v3_req

[ req_distinguished_name ]
C   = SE
ST  = Stockholm
O   = STI
OU  = Web
CN  = server

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = server.charly.se
IP.1 = 172.16.219.197