[ req ]
default_bits        = 2048
default_md          = sha256
prompt              = no
distinguished_name  = req_distinguished_name

[ req_distinguished_name ]
C   = SE                              # Country
ST  = Stockholm                       # State
O   = STI                             # Organization
OU  = Root CA Division                # Organizational Unit
CN  = RootCA.nazeh.com                # Common Name

[ v3_ca ]
basicConstraints = critical, CA:TRUE
keyUsage = critical, cRLSign, keyCertSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer